@model ApiIntegrationWebApp.Models.IndexViewModel;

@{
    ViewData["Title"] = "Home";
}

<div class="container">
    <h1>Api Integration Web App</h1>
    <p>Tours are listed below. Please use the form to import and update tour availabilties.</p>

    <article>
        <form method="post">
            <div class="grid">
                <label for="providerId">
                    Provider Id
                    <input type="number" id="providerId" name="providerId" placeholder="Provider Id" required="" value="1">
                </label>
            </div>
            <button type="submit" id="submitBtn" name="submitBtn" value="submit">Submit</button>

        </form>
    </article>

    <div>
        <h2>Tours & availability</h2>
        <figure>
            @if (Model.Tours != null && Model.Tours.Any())
            {
                @foreach (var tour in Model.Tours)
                {
                    <h4>@tour.TourName</h4>

                    <table>
                        <thead>
                            <tr>
                                <th>Start date</th>
                                <th>Nights</th>
                                <th>Availability</th>
                                <th>Selling Price</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var avail in tour.Availabilities)
                            {
                                <tr>
                                    <td>@avail.StartDate.ToShortDateString()</td>
                                    <td>@avail.TourDuration</td>
                                    <td>@avail.AvailabilityCount</td>
                                    <td>£ @avail.SellingPrice</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                }
            }
        </figure>
    </div>

</div>


